<HTML>
	<body>
		<h2>Upload your excel file</h2>
		<form action="/uploadExcelFile" enctype="multipart/form-data" method="post">
			<input type="file" name="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
			<input type="submit" class="p-10 w-100" value="Upload Excel">
		</form>
	</body>
</HTML>